@media (max-width: 1199px) {
    .container {
        min-width: 100%;
        padding: 10px;
    }
    
    .schedule-container {
        min-width: 100%;
        margin-top: 10px;
        padding: 10px;
        padding-left: 0px;
    }
    
    header {
        padding: 10px 0;
    }
    
    .schedule th, .schedule td {
        min-width: 120px;
        padding: 8px 10px;
    }
    
    .time-column {
        width: 90px;
        border: 1px #818a91 solid;
    }
}

@media (max-width: 768px) {
    .lesson-info-header {
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        padding: 4px 5px;
    }
    
    .info-label {
        font-size: 0.7em;
    }
    
    .info-value {
        font-size: 0.8em;
    }
    
    .modal-content {
        margin: 10px auto;
        padding: 20px;
        width: 95%;
    }
}